body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.layout {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 132px;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.header .logo{
  flex-grow: 2;
}

.header nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.header nav ul {
  height: 132px;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  margin-right: 15px;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
}

.header li a{
  color: black;

  text-decoration: none;
}

.header .activado,
.header a:hover{
  color: #fa4529 ;
  transition: all 300ms;
  
}



.header .logo{
  display: flex;
}

.header .logo span {
  font-size: 90px;
  margin-top: -8px;
  font-weight: bold;
}

.header .logo h3 {
  font-weight: 350;
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  text-transform: uppercase;
}

.footer {
  min-height: 150px;
  line-height: 100px;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  border-top: 3px solid black;
  padding-top: 45px;
  background-color: #f5f5f5;
  color: #444;
}

/*CONTENIDO PRINCIPAL*/

.content {
  min-height: 400px;
}